.shop {
    font-family: 'Lato', sans-serif;
  
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__filters {
      display: flex;
      justify-content: space-between;
      padding: 51px 0 64px 0;
      width: 100%;
    }
  
    &__products {
      display: grid;
      grid-template-columns: 360px 360px 360px;
      justify-content: space-between;
      grid-gap: 30px;
      width: 100%;

      & article:last-child {
        @media screen and (max-width:1200px){
          display: none;
        }
      }
       
      @media screen and (max-width:1200px) {
          grid-template-columns: 360px 360px;
          justify-content: center;
      }

      @media screen and (max-width:800px) {
          grid-gap: 16px;
      }

      @media screen and (max-width:767px) {
          grid-template-columns: 360px;
          justify-content: center;
          grid-gap: 4vw;
      }
    }
  
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px 0;
        border: 1px solid #EBEBEB;
        border-radius: 4px;
        padding: 16px;
        max-width: 284px;
      
        &__list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
        }
      
        &__item {
            
          & a {
            color: #c4c4c4;

            &:hover {
                color: black;
              }
          }
      
          &:first-child {
            margin-left: 24px;
          }
      
          &:not(:last-child) {
            margin-left: 24px;
          }
      
          &:last-child {
            display: flex;
            margin-right: 24px;
      
            &::before {
              color: #c4c4c4;
              content: '.....';
            }
          }
        }
      
        & .active {
          & a {
            color: #F16D7F;
          }
        }
    }
}
  
  
  
  